/* see in styles.css!! */
/* .disabled{
    color: pink;
    background-color: rgb(0, 255, 13);
} */
/* button:disabled{
    color: pink;
    background-color: rgb(0, 255, 13);
} */
.disabledCorrect{
    color: rgb(132, 214, 7);
}