/* see in styles.css!! */

.disabledCorrect{
    color: rgb(241, 241, 240);
    background-image: linear-gradient(rgb(192, 255, 206), rgb(51, 255, 0)) ;
}
.disabledIncorrect{
    color: rgb(250, 249, 249);
    background-image: linear-gradient(rgb(240, 24, 9), orange) ;
}