.item{
    border: 1px solid greenyellow ;
    border-radius: 7px;
    width: 20%;
    text-align: center;
    margin: 10px;
    padding: 4px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.item:hover{
    cursor: pointer;
}
.selected{
    background-color: blue;
}
p{
    text-align: center;
}
.selectedClickedItem{
    background-color: rgb(2, 2, 36);
    color: aliceblue;
    
}
